Assignment2_astar/readfile/.idea/
Assignment2_astar/readfile/.DS_Store
Assignment2_astar/.DS_Store
Assignment2_astar/~$signment2_documentation.docx
Assignment3_Minimax_and_Alpha-Beta_Pruning
Assignment4_Constraint_Satisfaction_Problems/.idea
.DS_Store
*.zip
